/* This is the Sass/Scss file loaded by WordPress in frontend.
 * Tweak it and have fun.
 */
@import url("../../reverie/css/style.css");
body {
  background: aliceblue; }

body.custom-background {
  background: yellow; }

h1 {
  color: pink; }
